# Sentimental Analysis on Tweets

## 1. Getting Data Ready

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
import re

In [2]:
# Getting data
#import libraries
import pandas as pd
import tweepy
from tweepy import OAuthHandler

#twitter credentials
consumer_key = 'E6qMDAOP5Z8lbdnaAtbmZrXHV'
consumer_secret = 'boWrGHFH2n5PQbGUOtZHQh1CmPEyy4kzKd9pi2lfzRlaEOJjzi'
access_token = '1272637484577353728-6vfx6LwJkOvhhIaVtBdniUuNiTnHYg'
access_secret = 'GjqUxvSAxImOZBcpAKBZlYzOqRgBnXweZmAe3Vja1EHeb'

#Authenticate credentials
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)
for status in api.user_timeline():
    print (status.id)
tweet_created = []
tweet_text = []
tweet_ids = []
tweets = tweepy.Cursor(api.search,q='#LockdownDiaries',count=100, lang="en")
for tweet in tweets.items():
    tweet_created.append(tweet.created_at)
    tweet_text.append(tweet.text)  
    tweet_ids.append(status.id)

df = pd.DataFrame(columns=['tweet_ids','created_on','tweets'])
df['tweet_ids']= tweet_ids
df['created_on'] = tweet_created
df['tweets']= tweet_text

1293282868278394881
1293282537817554944
1284731059561656320

In [3]:
df.head()

,tweet_ids,created_on,tweets
0,1284731059561656320,2020-12-04 10:00:45,We all know that 2020 has been an unusual year...
1,1284731059561656320,2020-12-04 09:46:52,RT @urstrulyMahesh: Nerdy goofy and sane !! 3 ...
2,1284731059561656320,2020-12-04 08:36:58,RT @iAmAileen: It's beginning to *cost* a LOT ...
3,1284731059561656320,2020-12-04 08:30:06,"Parents, share your experience in a quick surv..."
4,1284731059561656320,2020-12-04 06:19:04,RT @urstrulyMahesh: Nerdy goofy and sane !! 3 ...

In [4]:
df.describe

<bound method NDFrame.describe of                tweet_ids          created_on  \
0    1284731059561656320 2020-12-04 10:00:45
1    1284731059561656320 2020-12-04 09:46:52
2    1284731059561656320 2020-12-04 08:36:58
3    1284731059561656320 2020-12-04 08:30:06
4    1284731059561656320 2020-12-04 06:19:04
..                   ...                 ...
117  1284731059561656320 2020-11-25 14:22:59
118  1284731059561656320 2020-11-25 12:51:27
119  1284731059561656320 2020-11-25 05:41:24
120  1284731059561656320 2020-11-25 00:04:58
121  1284731059561656320 2020-11-24 23:26:31

                                                tweets
0    We all know that 2020 has been an unusual year...
1    RT @urstrulyMahesh: Nerdy goofy and sane !! 3 ...
2    RT @iAmAileen: It's beginning to *cost* a LOT ...
3    Parents, share your experience in a quick surv...
4    RT @urstrulyMahesh: Nerdy goofy and sane !! 3 ...
..                                                 ...
117  WEEK 35 OF LOCKDOWN\n\nhttps://t.co/cVWuJStsiv...
118  Drive to Bilpin Cider Co. \n.\n.\n.\n.\n#bilpi...
119  Note to self: Never place your coffee and lapt...
120  RT @spliffmusic_: Shout out @Ovis_Tebrown for ...
121  RT @RealRevShnorr: Whatcha all getting  for Xm...

[122 rows x 3 columns]>

In [5]:
df

,tweet_ids,created_on,tweets
0,1284731059561656320,2020-12-04 10:00:45,We all know that 2020 has been an unusual year...
1,1284731059561656320,2020-12-04 09:46:52,RT @urstrulyMahesh: Nerdy goofy and sane !! 3 ...
2,1284731059561656320,2020-12-04 08:36:58,RT @iAmAileen: It's beginning to *cost* a LOT ...
3,1284731059561656320,2020-12-04 08:30:06,"Parents, share your experience in a quick surv..."
4,1284731059561656320,2020-12-04 06:19:04,RT @urstrulyMahesh: Nerdy goofy and sane !! 3 ...
...,...,...,...
117,1284731059561656320,2020-11-25 14:22:59,WEEK 35 OF LOCKDOWN\n\nhttps://t.co/cVWuJStsiv...
118,1284731059561656320,2020-11-25 12:51:27,Drive to Bilpin Cider Co. \n.\n.\n.\n.\n#bilpi...
119,1284731059561656320,2020-11-25 05:41:24,Note to self: Never place your coffee and lapt...
120,1284731059561656320,2020-11-25 00:04:58,RT @spliffmusic_: Shout out @Ovis_Tebrown for ...
121,1284731059561656320,2020-11-24 23:26:31,RT @RealRevShnorr: Whatcha all getting for Xm...